:root {
  --color-rojo: #a83338;; /* Rojo SIMAN */
  --color-rojo-claro: #d02d37; /* Rojo claro SIMAN */
  --color-texto-SIMAN: #feedee; /* Texto SIMAN */
  --color-buttons: #383838;
  --color-fondo: #e2e2e2; /* Fondo */
}


body{
    margin: 0;
    font-family: ClanOT, Arial;;
    background-color: var(--color-fondo);
    color: var(--color-texto);
}

header {
  background-color: var(--color-rojo);
}

.banner{
  background-image: url('https://u7.uidownload.com/vector/691/8/vector-abstract-purple-horizontal-lines-background-vector-image-eps-ai.jpg');
  background-size: cover;
  background-position: center;
  padding: 100px 20px;
  text-align: center;
}

.contenido h1{
  font-size: 3rem;
  color: var(--color-texto-SIMAN);
}

.contenido p{
  font-size: 1.2rem;
  margin: 20px 0;
  color: var(--color-texto-SIMAN);
}

.contenido button{
  background-color: var(--color-buttons);
  border: none;
  color: var(--color-texto-SIMAN);
  padding: 15px 70px;
  font-size: 1rem;
  cursor: pointer;
  border-radius: 10px
}

.galeria{
  padding: 40px;
}

.galeria h2 {
    text-align: center;
}
.gal{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1.5rem;
  margin: 0 auto;
  max-width: 1200px;
}

.card{
    width: 250px;
}

.card img{
  max-height: 150px;
}

.card-body{
    line-height: 2;
}

.card-body h6{
    line-height: 2
}

.card-body h5{
    line-height: 2
}

.card-text-price {
  color: var(--color-rojo-claro);
}

@media (max-width: 576px) {
  .gal {
    flex-direction: column;
    align-items: center;
  }

  .card {
    width: 90%;
    max-width: 320px;
    margin: 0 auto;
  }

}

.button{
    background-color: var(--color-rojo-claro);
    padding: 10px 40px; 
    border-radius: 10px;
    color: var(--color-texto-SIMAN);
    text-decoration: none;
    font-weight: bold;
    display: inline-block;
    text-align: center;
    width: 100%;
    max-width: 250px;
    white-space: nowrap;
  }
  
.footer-style {
  background-color: var(--color-rojo);
  color: var(--color-texto-SIMAN);
  padding: 20px;
  text-align: center;
}